@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.card1 {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-static-website/newsbg.png');
    background-size: cover;
    height: 100vh;
}

.card2 {
    background-color: #ffffff;
    font-family: "Roboto";
    padding: 25px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.sub-para0 {
    color: #7b8794;
    font-size: 13px;
}

.main-head0 {
    color: #323f4b;
    font-size: 23px;
}

.main-para0 {
    color: #7b8794;
    font-size: 14px;
    text-align: left;
}

.main-but5 {
    background-color: #323f4b;
    height: 35px;
    width: 120px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 10px;
}